black==26.3.1
boto3==1.42.30
boto3-stubs==1.42.30
botocore==1.42.30
botocore-stubs==1.42.41
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.3
colorama==0.4.6
idna==3.11
jmespath==1.0.1
mypy-boto3-s3==1.42.67
mypy_extensions==1.1.0
numpy==2.4.4
packaging==26.2
pandas==3.0.2
pathspec==1.1.1
platformdirs==4.9.6
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytokens==0.4.1
requests==2.32.5
s3transfer==0.16.0
six==1.17.0
types-awscrt==0.31.3
types-s3transfer==0.16.0
tzdata==2026.2
urllib3==2.6.3